.jumbotron {
	background-color: rgb(221, 176, 189);
	text-align: center;
}

body {
	background-color: rgb(155, 195, 245);
}

#order-confirmation {
	display: none;
}

#pizza-picture {
	width: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}